body{
    background-color: black;
    color: white;
}

.page{
    border: solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 50vw;
    box-shadow:  0 0 20px white;
    border-radius: 20px;
    padding: 20px;
}

.heading{
    text-align: center;
    text-decoration: underline;
    /* color: lightgreen; */
}

.subHeading{
    text-decoration: underline;
    color: lightgreen;
}

@media screen and (min-width:0px) and (max-width:720px){
    .page{
        width: 80vw;
        font-size: small;
    }
}

ul > li::marker{
    color: aqua;
}

a{
    color: lightcoral;
    text-decoration: none;
}